:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;

  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Outfit", sans-serif;
}

.card {
  background-color: var(--white);
  width: 375px;
  max-width: 90%;

  border-radius: 20px;

  padding: 16px 16px 24px;
  text-align: center;
}

.card .qr-code {
  border-radius: 12px;
  overflow: hidden;
}

.card .qr-code img {
  max-width: 100%;
}

.card h1 {
  margin-top: 14px;
  color: var(--dark-blue);
  line-height: 1.2;
  font-size: 24px;
}

.card p {
  margin-top: 14px;
  color: var(--dark-blue);
  font-size: 14px;
}

.card input {
  width: 100%;
  margin-top: 24px;
  padding: 6px;
  border: 2px solid var(--dark-blue);
  border-radius: 8px;
}

.card button {
  margin-top: 12px;

  border: none;
  border-radius: 8px;
  padding: 12px;

  color: var(--white);
  background-color: var(--grayish-blue);
}